@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply m-0 p-0;
}

body {
	@apply bg-bluepurple-800;
}

h1,
h2,
h3 {
	@apply text-zinc-200;
}

h1 {
	@apply text-3xl font-bold;
}

h3 {
	@apply text-2xl font-medium;
}

p {
	@apply text-zinc-200 text-opacity-70 font-medium;
}

button {
	@apply py-3 px-7 text-white bg-zinc-500 rounded-sm transition-all hover:brightness-90 focus:ring-2 focus:outline-none focus:ring-indigo-700 focus:ring-offset-1;
}

button.primary {
	@apply bg-indigo-700 font-medium;
}

input {
	@apply bg-transparent border font-medium border-zinc-200 rounded-sm text-zinc-200 text-opacity-90 pl-4 transition-all placeholder:text-zinc-200 placeholder:text-opacity-90 focus:ring-2 focus:outline-none focus:ring-indigo-700 focus:ring-offset-1;
}

progress {
	@apply bg-yellow-300 rounded-full h-2 w-[20vw] min-w-[8rem];
}
progress::-webkit-progress-bar {
	@apply bg-zinc-200 rounded-full h-2;
}
progress::-webkit-progress-value {
	@apply bg-yellow-300 rounded-full h-2;
}
progress::-moz-progress-bar {
	@apply bg-yellow-300 rounded-full h-2;
}

::-webkit-scrollbar {
	@apply w-1;
}

::-webkit-scrollbar-track {
	@apply bg-bluepurple-800;
}

::-webkit-scrollbar-thumb {
	@apply bg-bluepurple-500;
}

.bg-cloud-pattern {
	background: linear-gradient(
			rgba(30, 33, 58, 0.95) 100%,
			rgba(30, 33, 58, 0.95) 100%
		),
		url("/cloud-background.png");
	background-position: 50% 20%;
	background-repeat: no-repeat;
	background-size: 100%;
}

.icon {
	@apply w-5 h-5 text-zinc-200 text-opacity-70;
}
